.gallery-module {

    &__content {
        display: grid;
        gap: 0.8em;
        grid-auto-rows: 19.56rem;

        @include break(mobile) {
            grid-auto-rows: 11rem;
        }

        img {
            border-radius: 4px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }

    &__content.grid-per-row__02,
    &__content.grid-per-row__03,
    &__content.grid-per-row__04 {

        @include break(phablet) {
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

.grid {
    display: flex;
    grid-auto-rows: unset;

    &-col {
        display: flex;
        flex-flow: column;
        flex: 1;
    }

    &-col--4 {

        @include break(tabletxl) {
            display: none;
        }
    }

    &-col--3 {

        @include break(tablet) {
            display: none;
        }
    }

    &-item {

        img {
            border-radius: unset;
            height: unset;
            object-fit: unset;
            width: 100%;
        }
    }
}