#footer-01 {
    background-color: #f4f4f2;
    margin-top: auto;
    padding: 6em 2.22em;
    width: 100%;

    & div.subscription-wrapper {
        background: $primaryColor;
        padding: 2.1em 3.2em;
        border-radius: 4px;
    }
}

.socialmedia-wrapper {
    text-align: center;
    padding-top: 3em;

    .socialmedia-icons {
    
        a {
            font-size: 18px;
            color: $primaryColor;
            padding: 0 6px;
        }
    }
}

.copyright-wrapper {
    text-align: center;

    span {
        color: #919191;
        font-size: 0.8rem;
    }
}