//colors
$primaryColor: #a74799;
$secondaryColor: #a74799;
$accentColor: #fab631;

@font-face {
  font-family: "HeadingFont";
  src:  url('../font/gotham-bold-webfont.woff2') format('woff2'),
        url('../font/gotham-bold-webfont.woff') format('woff'),
        url('../font/gotham-bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'BodyFont';
  src:  url('../font/poppins-light.woff') format('woff'),
        url('../font/poppins-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BootstrapIcons";
  src:  url('../font/bootstrap-icons.woff2') format('woff2'),
        url('../font/bootstrap-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

$headingText: 'HeadingFont', sans-serif;
$bodyText: 'BodyFont', sans-serif;