@font-face {
  font-family: "GothamBold";
  src: url("../font/gotham-bold.woff") format("woff"), url("../font/gotham-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "PoppinsLight";
  src: url("../font/poppins-light.woff") format("woff"), url("../font/poppins-light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  font-family: "PoppinsLight", sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

section {
  overflow: auto;
  padding: 0 2.22em;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  color: #a74799;
  font-family: "GothamBold", serif;
  line-height: 1.15em;
  margin-bottom: 0.7em;
  position: relative;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.6rem;
}

h4 {
  font-size: 1.2rem;
}

img[src$=".png"], img[src$=".jpg"] {
  image-rendering: -moz-crisp-edges;
  /* Firefox */
  image-rendering: -o-crisp-edges;
  /* Opera */
  image-rendering: -webkit-optimize-contrast;
  /* Webkit (non-standard naming) */
  image-rendering: crisp-edges;
  -ms-interpolation-mode: nearest-neighbor;
  /* IE (non-standard property) */
}

p {
  color: #595959;
  font-family: "PoppinsLight", sans-serif;
  line-height: 1.78em;
  margin-bottom: 1.33em;
}
p:last-child {
  margin-bottom: 0;
}

a {
  color: #fab631;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: #fab631;
  text-decoration: underline;
}

ul, ol {
  margin: 0;
  padding: 0;
}

li {
  color: #595959;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (min-width: 425px) {
  html {
    font-size: 15px;
  }
}
@media only screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
@media only screen and (min-width: 1025px) {
  html {
    font-size: 19px;
  }
}
@media only screen and (min-width: 1400px) {
  html {
    font-size: 20px;
  }
}
.one-column-layout__wrapper {
  position: relative;
  z-index: 5;
}

.two-column-layout__wrapper,
.special-column-layout__wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  padding: 0;
  position: relative;
  z-index: 5;
  overflow: hidden;
}
.two-column-layout__row,
.special-column-layout__row {
  flex-grow: 1;
}
@media (max-width: 980px) {
  .two-column-layout__row,
.special-column-layout__row {
    margin: -1.2em 0;
  }
}
.two-column-layout__column,
.special-column-layout__column {
  display: flex;
  flex-flow: column nowrap;
}
@media (max-width: 980px) {
  .two-column-layout__column,
.special-column-layout__column {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.two-column-layout__column-wrapper,
.special-column-layout__column-wrapper {
  height: 100%;
  position: relative;
  z-index: 5;
}
@media (max-width: 980px) {
  .two-column-layout__column-wrapper,
.special-column-layout__column-wrapper {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
.two-column-layout__column-wrapper__container,
.special-column-layout__column-wrapper__container {
  height: auto;
}

.page-404__container {
  display: flex;
  padding-bottom: 6em;
  padding-top: 6em;
}
@media (max-width: 980px) {
  .page-404__container {
    flex-flow: row wrap;
  }
}
.page-404__left-content {
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
  height: 35.83rem;
  margin-right: 3.11em;
  width: 100%;
}
@media (max-width: 1024px) {
  .page-404__left-content {
    background-position: center;
    background-size: contain;
  }
}
@media (max-width: 980px) {
  .page-404__left-content {
    margin-right: 0;
  }
}
@media (max-width: 425px) {
  .page-404__left-content {
    height: 27rem;
  }
}
.page-404__right-content {
  align-items: center;
  display: flex;
  width: 100%;
}
.page-404__right-content__container h2 {
  font-family: "GothamBold", serif;
  font-size: 5.33rem;
  line-height: 1.15;
  margin-bottom: 0.17em;
}
.page-404__right-content__container h2::after {
  color: #a7a7a7;
  content: "404";
  font-size: 0.8rem;
  font-weight: bold;
}
.page-404__right-content__container h1 {
  color: #77797c;
  font-size: 2.67rem;
  font-weight: 700;
  margin-bottom: 0.8em;
}
.page-404__right-content__container p {
  color: #9f9f9f;
  font-size: 1.33rem;
  margin-bottom: 1em;
}
.page-404__right-content__quick-links {
  display: inline-block;
}
.page-404__right-content__quick-links__links {
  margin: 0 -4px;
  position: relative;
  padding-right: 2.67em;
}
.page-404__right-content__quick-links__links ul {
  list-style: none;
  display: flex;
  margin: -8px 0;
  flex-flow: row wrap;
}
.page-404__right-content__quick-links__links ul li {
  margin: 8px 0;
}
.page-404__right-content__quick-links__links ul li a {
  background-color: #fab631;
  border-radius: 8px;
  border: 1px solid #fab631;
  color: #fff;
  display: inline-block;
  font-size: 0.89rem;
  font-weight: 600;
  margin: 0 4px;
  padding: 0.5em 1.6em;
  text-decoration: none;
  text-transform: uppercase;
  transition: 200ms all ease-out;
}
.page-404__right-content__quick-links__links ul li a:hover {
  background-color: transparent;
  color: #fab631;
}
.page-404__right-content__quick-links img {
  position: absolute;
  width: 1.67rem;
  height: auto;
  object-fit: contain;
  top: -1.33rem;
  right: 0;
}

.archive-portfolio {
  padding-top: 6em;
  padding-bottom: 6em;
}

#footer-01 {
  background-color: #f4f4f2;
  padding: 6em 2.22em;
  width: 100%;
}
#footer-01 div.subscription-wrapper {
  background: #a74799;
  padding: 2.1em 3.2em;
  border-radius: 4px;
}

.socialmedia-wrapper {
  text-align: center;
  padding-top: 3em;
}
.socialmedia-wrapper .socialmedia-icons a {
  font-size: 18px;
  color: #a74799;
  padding: 0 6px;
}

.copyright-wrapper {
  text-align: center;
}
.copyright-wrapper span {
  color: #919191;
  font-size: 0.8rem;
}

#footer-02 {
  background-color: #f4f4f2;
  width: 100%;
}
#footer-02 div.global-footer__row-01 {
  background-color: #a74799;
  padding: 3em 2.22em;
}
#footer-02 div.global-footer__row-02 {
  padding: 3em 2.22em;
}
#footer-02 div.global-footer__row-02 h3 {
  font-size: 0.9rem;
  text-transform: uppercase;
}
#footer-02 div.global-footer__row-02 ul {
  list-style: none;
}
#footer-02 div.global-footer__row-02 a {
  color: #a3a3a3;
  font-size: 0.9rem;
}
#footer-02 div.global-footer__row-02 p {
  color: #a3a3a3;
  font-size: 0.9rem;
  margin-bottom: 0.6em;
}
#footer-02 div.global-footer__row-02 p:last-child {
  margin-bottom: 0;
}
#footer-02 div.global-footer__row-02__wrapper {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 2.5fr 1fr;
}
@media (max-width: 980px) {
  #footer-02 div.global-footer__row-02__wrapper {
    grid-template-columns: 1fr 2.5fr;
  }
}
@media (max-width: 640px) {
  #footer-02 div.global-footer__row-02__wrapper {
    grid-template-columns: 1fr;
  }
}
#footer-02 div.global-footer__row-02__col-01 img {
  filter: grayscale(100%);
  max-height: 64px;
  max-width: 214px;
  object-fit: contain;
  opacity: 0.6;
}
#footer-02 div.global-footer__row-02__col-02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}
@media (max-width: 768px) {
  #footer-02 div.global-footer__row-02__col-02 {
    grid-template-columns: 1fr;
  }
}
#footer-02 div.global-footer__row-02__col-02 div.quick-links a {
  font-weight: normal;
}
#footer-02 div.global-footer__row-02__col-02 div.contact-info p {
  max-width: 350px;
}
#footer-02 div.global-footer__row-02__col-02 div.contact-info a {
  color: #fab631;
}
#footer-02 div.global-footer__row-02__col-03 {
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 980px) {
  #footer-02 div.global-footer__row-02__col-03 {
    grid-column-start: 2;
    justify-content: flex-start;
  }
}
@media (max-width: 640px) {
  #footer-02 div.global-footer__row-02__col-03 {
    grid-column-start: 1;
  }
}
#footer-02 div.global-footer__row-02__col-03__wrapper {
  padding-left: 1.6em;
}
@media (max-width: 980px) {
  #footer-02 div.global-footer__row-02__col-03__wrapper {
    padding-left: 0;
  }
}
#footer-02 div.global-footer__row-02__col-03__wrapper ul {
  display: flex;
  margin: 0 -0.4em;
}
#footer-02 div.global-footer__row-02__col-03__wrapper ul li {
  padding: 0 0.4em;
}
#footer-02 div.global-footer__row-03 {
  background-color: #e5e5e5;
  padding: 0.5em 2.22em;
}

#header-01 {
  align-items: center;
  background: #a74799;
  display: flex;
  height: 4.4rem;
  padding: 0 2.22em;
  width: 100%;
}
@media (max-width: 980px) {
  #header-01 {
    display: none;
  }
}
#header-01 .header-container {
  display: flex;
  position: relative;
  width: 100%;
}
#header-01 .header-left {
  align-items: center;
  display: flex;
  position: relative;
  width: 25%;
}
#header-01 .header-left h1 {
  display: none;
}
#header-01 .header-left img {
  max-width: 214px;
  max-height: 64px;
  object-fit: contain;
}
#header-01 .header-right {
  display: flex;
  justify-content: flex-end;
  width: 75%;
}
#header-01 .header-right nav {
  display: flex;
  align-items: center;
}
#header-01 .header-right nav ul {
  display: flex;
  list-style-type: none;
  margin: 0 -1em;
  text-align: center;
}
#header-01 .header-right nav ul li {
  position: relative;
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 600;
  padding: 2em 1em;
  cursor: pointer;
}
#header-01 .header-right nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 1.72em 0;
}
#header-01 .header-right nav ul li ul {
  background: rgba(255, 255, 255, 0.95);
  border-top: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  display: block;
  left: 1em;
  margin: 0;
  min-width: 250px;
  opacity: 0;
  padding-left: 0;
  position: absolute;
  text-align: left;
  top: 4.4rem;
  transition: 250ms opacity ease-out;
  visibility: hidden;
  z-index: 10;
}
#header-01 .header-right nav ul li ul li {
  display: block;
  position: relative;
  width: 100%;
  font-weight: 600;
  margin: 0;
  padding: 0;
}
#header-01 .header-right nav ul li ul li a {
  display: block;
  font-size: 0.8rem;
  font-weight: 500;
  text-decoration: none;
  text-transform: none;
  color: #616161;
  padding: 0.9em 1.5em;
  transition: 200ms transform ease-out;
}
#header-01 .header-right nav ul li ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 0;
  transform: translateX(0.5em);
}
#header-01 .header-right nav ul li ul li ul {
  position: absolute;
  top: -1px;
  left: 248px !important;
  padding-left: 0;
  display: block;
  visibility: hidden;
  opacity: 0;
  background: rgba(255, 255, 255, 0.95);
  z-index: 10;
  min-width: 250px;
  margin: 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  transition: 250ms opacity ease-out;
}
#header-01 .header-right nav ul li ul li ul li {
  position: relative;
  width: 100%;
}
#header-01 .header-right nav ul li ul li ul li a {
  padding: 0.9em 1.5em;
  transition: 200ms transform ease-out;
}
#header-01 .header-right nav ul li ul li ul li a:hover {
  text-decoration: none;
  color: #fff;
  border-bottom: 0;
  transform: translateX(0.5em);
}
#header-01 .header-right nav ul li ul li:hover {
  background: #fab631;
  color: #fff;
}
#header-01 .header-right nav ul li ul li:hover > a {
  border-bottom: 0;
}
#header-01 .header-right nav ul li ul > li:hover > a {
  color: #fff;
  transform: translateX(0.5em);
}
#header-01 .header-right nav ul li:hover > ul, #header-01 .header-right nav ul li ul li ul:hover {
  display: block;
  visibility: visible;
  opacity: 1;
}
#header-01 .header-right nav ul li:hover > a {
  border-bottom: 5px solid #fab631;
}
#header-01 .header-right nav ul li.featured-link > a {
  background-color: #fab631;
  box-shadow: inset 0 0 0 0 #fff;
  padding: 2.05em 1em;
  transition: 400ms all ease-out;
}
#header-01 .header-right nav ul li.featured-link > a:hover {
  box-shadow: inset 300px 0 0 0 #fff;
  color: #a74799;
}
#header-01 .header-right nav ul li.featured-link:hover > a {
  border-bottom: 0;
}
#header-01 .header-right nav ul li:last-child ul {
  left: -12.1em;
}
#header-01 .header-right nav ul li:last-child ul li ul {
  left: -250px !important;
}

#header-01-mobile-header {
  background: #a74799;
  display: none;
  height: 88px;
  padding: 0 2.22em;
  width: 100%;
}
@media (max-width: 980px) {
  #header-01-mobile-header {
    display: flex;
    position: relative;
    z-index: 100;
  }
}
#header-01-mobile-header .mobile-header__left {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-start;
  position: relative;
  width: 25%;
}
#header-01-mobile-header .mobile-header__right {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: flex-end;
  width: 75%;
}
#header-01-mobile-header .mobile-header__right i {
  font-size: 24px;
  color: #fff;
}

.mobile-header__drawer {
  display: none;
  height: 100%;
  justify-content: flex-end;
  padding-left: 0;
  padding-right: 0;
  position: fixed;
  top: 0;
  transform: translateX(100%);
  transition: 200ms all ease-out;
  width: 100%;
  z-index: 110;
}
@media (max-width: 980px) {
  .mobile-header__drawer {
    display: flex;
  }
}
.mobile-header__drawer-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0;
  transition: 800ms all ease-out;
}
.mobile-header__drawer-container {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  width: 90%;
  height: 100%;
  background: #a74799;
}
.mobile-header__drawer-header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  padding: 1em 3.11em;
  background-color: rgba(0, 0, 0, 0.08);
}
.mobile-header__drawer-header form {
  display: grid;
  grid-template-columns: 1fr 36px;
  width: 100% !important;
}
.mobile-header__drawer-header form input[type=search] {
  border-radius: 20px 0 0 20px !important;
  border: 0 !important;
  font-family: "PoppinsLight", sans-serif;
  height: 40px !important;
}
.mobile-header__drawer-header form button[type=submit] {
  height: unset;
}
.mobile-header__drawer-header form button[type=submit] span.is-search-icon {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border: 0;
  border-radius: 0 20px 20px 0;
  background: #fff;
  padding-top: 0 !important;
}
.mobile-header__drawer-content {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0 3.11em;
  text-align: center;
}
.mobile-header__drawer-content nav {
  width: 100%;
}
.mobile-header__drawer-content nav ul {
  list-style-type: none;
}
.mobile-header__drawer-content nav ul li {
  color: #fff;
  font-size: 1.41rem;
  font-weight: 500;
  line-height: 3.1em;
}
.mobile-header__drawer-content nav ul li a {
  color: #fff;
  text-decoration: none;
}
.mobile-header__drawer-content nav ul li ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #fff;
  padding: 0 2em;
  transform: translateX(100%);
  transition: 200ms all ease-out;
}
.mobile-header__drawer-content nav ul li ul li {
  font-weight: 600;
  line-height: 1.56em;
  color: #a74799;
  padding: 0.57em 0;
}
.mobile-header__drawer-content nav ul li ul li a {
  color: #a74799;
}
.mobile-header__drawer-content nav ul li ul li ul {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  width: 90%;
  height: 100%;
  background-color: #a74799;
  padding: 0 1.33em;
  transform: translateX(100%);
  transition: 200ms all ease-out;
}
.mobile-header__drawer-content nav ul li ul li ul li {
  font-weight: 500;
  line-height: 2em;
  color: #fff;
}
.mobile-header__drawer-content nav ul li ul li ul li a {
  color: #fff;
}
.mobile-header__drawer-content nav ul li ul li:hover > ul, .mobile-header__drawer-content nav ul li ul li:focus > ul, .mobile-header__drawer-content nav ul li ul li:active > ul {
  transform: translateX(0);
}
.mobile-header__drawer-content nav ul li:hover > ul, .mobile-header__drawer-content nav ul li:focus > ul, .mobile-header__drawer-content nav ul li:active > ul {
  transform: translateX(0);
}
.mobile-header__drawer-footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1em 3.11em;
}
.mobile-header__drawer-footer a {
  color: #fff;
}
.mobile-header__drawer-footer a i {
  font-size: 1rem;
  margin: 0 4px;
}
.mobile-header__drawer-footer span {
  color: #fff;
  font-size: 0.88rem;
}

.add-icon {
  color: #a74799;
}
.add-icon::after {
  content: "\f078";
  font-family: FontAwesome;
  font-size: 0.7rem;
  margin-left: 0.22em;
  vertical-align: text-bottom;
}

.add-icon-02 {
  color: #a74799;
}
.add-icon-02::before {
  content: "\f078";
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  font-family: FontAwesome;
  font-size: 0.7rem;
  margin-left: 0.22em;
  vertical-align: text-bottom;
}
.add-icon-02::after {
  content: "";
  font-size: 0;
  margin-left: 0;
}

.add-icon-03 {
  color: #fab631;
}
.add-icon-03::after {
  content: "\f054";
  font-family: FontAwesome;
  font-size: 0.89rem;
  margin-left: 0.625em;
  vertical-align: top;
}
.add-icon-03::before {
  content: "";
  font-size: 0;
  margin-left: 0;
}

.mobile-header__drawer--animation {
  transform: translateX(0) !important;
}

.mobile-header__drawer--fade {
  opacity: 1 !important;
  transform: translateX(0) !important;
}

@media (max-width: 640px) {
  .theme__main {
    margin-top: -3.29em;
  }
}

.page-search__width-limit {
  width: 100%;
  max-width: 1200px;
  padding: 0 2.22em;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .page-search__width-limit {
    padding: 0;
  }
}

.page-content__search {
  padding: 6em 2.22em;
}
.page-content__search-results {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 425px) {
  .page-content__search-results {
    flex-flow: column wrap;
  }
}
.page-content__search-results__left span {
  font-size: 1.11rem;
  color: #979594;
}
.page-content__search-results__left span strong {
  color: #a74799;
}
.page-content__search-results__right span {
  font-size: 0.89rem;
  color: #b1b1b1;
}
.page-content__search-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 1.78em 0;
}
.page-content__search-item:last-child {
  border-bottom: 0;
}
.page-content__search-item h2 {
  font-size: 1.39rem;
  margin-bottom: 0;
}
.page-content__search-item h2 a {
  text-decoration: none;
  color: #a74799;
}
.page-content__search-item span {
  display: inline-block;
  font-size: 0.83rem;
  margin-bottom: 0.67em;
}
.page-content__search-item span a {
  color: #dbdbdb;
  font-weight: normal;
  text-decoration: none;
  word-wrap: break-word;
}
.page-content__search-item span a:hover {
  color: #fab631;
}
.page-content__search-item p {
  overflow: hidden;
}
@supports (-webkit-line-clamp: 2) {
  .page-content__search-item p {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: none;
  }
}
.page-content__search-pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.33em;
}
.page-content__search-pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0.78rem;
  color: #dbdbdb;
  margin-left: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.page-content__search-pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0.78rem;
  margin-left: 8px;
  color: #a74799;
  border: 1px solid #a74799;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.page-content__search-pagination a:hover {
  color: #fff;
  background: #fab631;
  border-color: #fab631;
}
.page-content__search-pagination a.next, .page-content__search-pagination a.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: unset;
  height: 32px;
  padding: 0 8px;
}

.single__main {
  padding-top: 4em;
  padding-bottom: 6em;
}

.single-template {
  padding-bottom: 2em;
}

.single__width-limit {
  width: 100%;
  max-width: 995px;
  margin: 0 auto;
}

.single__header-breadcrumbs {
  color: #d7d7d7;
  font-size: 0.9rem;
}
.single__header-breadcrumbs a {
  font-size: 0.9rem;
  font-weight: normal;
}
.single__header h1 {
  font-family: "GothamBold", serif;
  font-size: 2.22rem;
  line-height: 1.3em;
  margin: 0;
  text-align: left;
}
.single__header span {
  color: #a7a7a7;
  display: inline-block;
  font-size: 0.89rem;
  margin-bottom: 2em;
  margin-top: 1.5em;
}

.single__featured-image {
  display: flex;
  justify-content: center;
  width: 100%;
}
.single__featured-image img {
  border-radius: 4px;
  height: 27.5rem;
  max-width: 1200px;
  object-fit: cover;
  width: 100%;
}

.site-widget {
  list-style: none;
}

.header-widget-01 {
  align-items: center;
  display: flex;
  margin-right: -0.4em;
  margin-left: 1.8em;
}
.header-widget-01 li {
  padding: 0.4em;
}
.header-widget-01 li ul li {
  padding: 0;
}
.header-widget-01 > li:first-child {
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  padding-left: 1.2em;
}

.accordion-module [data-accordion-content] {
  display: none;
}
.accordion-module .active[data-accordion-content] {
  display: none;
}
.accordion-module__tabs {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}
.accordion-module__content {
  width: 100%;
}
.accordion-module__content input[type=checkbox] {
  display: none;
}
.accordion-module__content input[type=checkbox]:checked + label + .accordion-module__content-container {
  display: block;
}
.accordion-module__content input[type=checkbox]:checked + label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.accordion-module__content label {
  background-color: #a74799;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.6em;
  padding: 0.5em;
  position: relative;
}
.accordion-module__content label::after {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 0.89em;
  top: 50%;
  transform: translateY(-50%);
  transition: 200ms all ease-out;
}
.accordion-module__content-container {
  margin: 1.5em 0;
}

.booking-module__wrapper {
  background: #a74799;
  border-radius: 8px;
  overflow: auto;
  padding: 4em;
}
@media (max-width: 980px) {
  .booking-module__wrapper {
    padding: 2.5em;
  }
}
.booking-module__heading h2, .booking-module__heading h3, .booking-module__heading h3, .booking-module__heading h4, .booking-module__heading h5, .booking-module__heading h6 {
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5em;
  max-width: 500px;
}
@media (max-width: 980px) {
  .booking-module__heading h2, .booking-module__heading h3, .booking-module__heading h3, .booking-module__heading h4, .booking-module__heading h5, .booking-module__heading h6 {
    margin-bottom: 0;
  }
}
.booking-module div.ea-bootstrap {
  white-space: unset;
}
.booking-module div.bootstrap {
  margin: 0 -15px;
}
@media (max-width: 980px) {
  .booking-module div.bootstrap form > div {
    width: 100%;
  }
}
.booking-module div.bootstrap form .form-group {
  display: flex;
  align-items: center;
}
.booking-module div.bootstrap form label {
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  font-weight: normal;
  padding-top: 0 !important;
}
.booking-module div.bootstrap form select {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-shadow: none;
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  height: 2.73rem;
  margin-bottom: 0.8em;
}
.booking-module div.bootstrap form select option {
  color: #8d8d8d;
}
.booking-module div.bootstrap form select:focus {
  border-color: #fff;
  box-shadow: none;
}
.booking-module div.bootstrap form .block {
  background-color: transparent;
}
.booking-module div.bootstrap form .calendar .ui-datepicker {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.32);
  color: #fff;
  box-shadow: none;
  padding: 0.8em;
}
.booking-module div.bootstrap form .calendar .ui-datepicker a {
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker a.ui-state-disabled {
  color: rgba(255, 255, 255, 0.3);
}
.booking-module div.bootstrap form .calendar .ui-datepicker-header {
  margin-bottom: 0;
  padding-bottom: 0.8em;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-header span {
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-title {
  font-family: "PoppinsLight", sans-serif;
  font-size: 0.8rem;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-prev::before {
  content: "\f053";
  font-family: "FontAwesome";
}
.booking-module div.bootstrap form .calendar .ui-datepicker-next::before {
  content: "\f054";
  font-family: "FontAwesome";
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar th {
  font-family: "PoppinsLight", sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.24);
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar th span {
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row td:hover {
  background-color: transparent;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row td div.time {
  background-color: rgba(255, 255, 255, 0.04);
  border: 0;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row td div.time a.time-value {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row td div.time a.time-value:hover {
  background-color: #a74799;
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row td div.time a.selected-time {
  background-color: #fab631;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar tr.time-row p {
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td {
  border: 1px solid rgba(255, 255, 255, 0.24);
  font-family: "PoppinsLight", sans-serif;
  font-size: 0.9rem;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td:hover {
  background-color: #a74799;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td:hover > a {
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td a {
  font-size: 0.9rem;
  color: #fff;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  color: rgba(255, 255, 255, 0.2);
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td.ui-datepicker-unselectable:hover {
  background-color: transparent;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td.ui-datepicker-current-day {
  background-color: #fab631;
}
.booking-module div.bootstrap form .calendar .ui-datepicker-calendar td.ui-datepicker-current-day a {
  font-weight: bold;
}
.booking-module div.bootstrap form div.final {
  margin-top: 1.5em;
}
.booking-module div.bootstrap form div.final h3 {
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.booking-module div.bootstrap form div.final small {
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  display: inline-block;
  margin-bottom: 2em;
}
.booking-module div.bootstrap form div.final div.form-group {
  display: flex;
  flex-flow: row wrap;
}
.booking-module div.bootstrap form div.final div.form-group label {
  display: none;
}
.booking-module div.bootstrap form div.final div.form-group div {
  width: 100%;
}
.booking-module div.bootstrap form div.final div.form-group input {
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.32);
  box-shadow: none;
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  height: 2.73rem;
  margin-bottom: 0.8em;
}
.booking-module div.bootstrap form div.final div.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group {
  justify-content: flex-end !important;
  padding-left: 0;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button {
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "PoppinsLight", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2.22em;
  padding: 1em 1.5em;
  transition: 200ms all ease-out;
  margin-top: 1.6em;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button:hover {
  background: transparent;
  border-color: #a74799;
  color: #a74799;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button.ea-submit {
  background: #fab631;
  border-radius: 4px;
  border: 1px solid #fab631;
  color: #fff;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button.ea-submit:hover {
  background-color: transparent;
  color: #fab631;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button.ea-cancel {
  background: transparent;
  border-radius: 4px;
  border: 1px solid #fab631;
  color: #fab631;
}
.booking-module div.bootstrap form div.final div.form-group div.ea-actions-group button.ea-cancel:hover {
  background: #fab631;
  color: #fff;
}
.booking-module div.bootstrap form div.final #booking-overview small {
  margin-bottom: 1em;
}
.booking-module div.bootstrap form div.final #booking-overview td {
  font-family: "PoppinsLight", sans-serif;
  font-size: 0.75rem;
  color: #fff;
}

.button-module__wrapper span {
  background: #fab631;
  border-radius: 4px;
  border: 1px solid #fab631;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 2.22em;
  padding: 1.5em 3em;
  transition: 200ms all ease-out;
}
@media (max-width: 425px) {
  .button-module__wrapper span {
    width: 100%;
    text-align: center;
  }
}
.button-module__wrapper span:hover {
  background: transparent;
  border-color: #fab631;
  color: #fab631;
}

.code-module {
  width: 100%;
  height: 100%;
}
.code-module__wrapper {
  width: 100%;
  height: 100%;
}

.embed-module .embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.embed-module .embed-container iframe,
.embed-module .embed-container object,
.embed-module .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.empty-space-module {
  width: 100%;
}
.empty-space-module__wrapper {
  width: 100%;
}

.featured-slider-module__container {
  display: grid;
  grid-template-columns: minmax(17.59rem, 50%) 50%;
  gap: 2em;
}
@media (max-width: 980px) {
  .featured-slider-module__container {
    display: none;
  }
}
.featured-slider-module__wrapper {
  display: flex;
}
.featured-slider-module__cards-wrapper {
  align-items: center;
}
.featured-slider-module__wrapper.swiper-wrapper--left {
  align-items: center;
  padding-left: 29.7%;
}
.featured-slider-module__cards.slider-left {
  height: fit-content;
  max-width: 550px;
  overflow: hidden;
}
.featured-slider-module__cards.slider-left .text-module h3 span {
  background-color: #fab631;
  color: #000000;
}
.featured-slider-module__cards.slider-left .swiper-slide {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.featured-slider-module__cards.slider-left .swiper-slide h2 {
  margin-bottom: 0.4em;
}
.featured-slider-module__cards.slider-left .swiper-slide P {
  line-height: 1.6;
  margin-bottom: 0;
}
.featured-slider-module__cards.slider-left .swiper-slide .featured-slider-module__cards__card-buttons {
  padding-top: 1.78em;
}
.featured-slider-module__cards.slider-left .swiper-slide .featured-slider-module__cards__card-buttons span {
  margin-top: 0;
}
.featured-slider-module__wrapper.swiper-wrapper--right {
  align-items: center;
}
.featured-slider-module__wrapper.swiper-wrapper--right .swiper-button-prev {
  background: #a74799;
  border-radius: 50%;
  height: 2.22rem;
  width: 2.22rem;
  left: 5%;
}
.featured-slider-module__wrapper.swiper-wrapper--right .swiper-button-prev::after {
  color: #fff;
  font-size: 1rem;
}
.featured-slider-module__wrapper.swiper-wrapper--right .swiper-button-next {
  background: #a74799;
  border-radius: 50%;
  height: 2.22rem;
  width: 2.22rem;
  right: 5%;
}
.featured-slider-module__wrapper.swiper-wrapper--right .swiper-button-next::after {
  color: #fff;
  font-size: 1rem;
}
.featured-slider-module__cards.slider-right {
  height: max-content;
  overflow: hidden;
  padding: 1em 0;
  position: relative;
}
.featured-slider-module__cards.slider-right .swiper-slide {
  background-color: #fff;
  border-radius: 0.74em;
  filter: brightness(100%);
  height: 24.37rem;
  overflow: hidden;
  position: relative;
  transition: 200ms all ease-out;
  width: 17.59rem;
}
.featured-slider-module__cards.slider-right .swiper-slide .background-overlay {
  background: transparent;
}
.featured-slider-module__cards.slider-right .swiper-slide .title-overlay {
  bottom: 0;
  position: absolute;
}
.featured-slider-module__cards.slider-right .swiper-slide .title-overlay h2 {
  color: #fff;
  font-size: 1.18rem;
  margin-bottom: 0;
  padding: 1.5em 1em;
  text-align: center;
}
.featured-slider-module__cards.slider-right .swiper-slide .swiper-slide-shadow-left {
  background-image: none;
}
.featured-slider-module__cards.slider-right .swiper-slide .swiper-slide-shadow-right {
  background-image: none;
}
.featured-slider-module__cards.slider-right .swiper-slide img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.featured-slider-module__cards.slider-right .swiper-scrollbar {
  left: 4%;
  width: 55%;
  bottom: 0;
}
.featured-slider-module__cards.slider-right .swiper-scrollbar-drag {
  background: #fab631;
}
.featured-slider-module__container-mobile {
  display: none;
}
@media (max-width: 980px) {
  .featured-slider-module__container-mobile {
    display: block;
  }
}
.featured-slider-module__cards.slider-mobile {
  height: max-content;
  overflow: hidden;
  position: relative;
}
.featured-slider-module__cards.slider-mobile .swiper-slide {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.1);
  filter: brightness(90%);
  height: 16.83rem;
  overflow: hidden;
  position: relative;
  transition: 200ms all ease-out;
  width: 20.67rem;
}
.featured-slider-module__cards.slider-mobile .swiper-slide .background-overlay {
  background: rgb(225, 143, 34);
  background: linear-gradient(0deg, rgba(225, 143, 34, 0.9023984594) 0%, rgba(255, 255, 255, 0) 40%);
  display: block;
}
.featured-slider-module__cards.slider-mobile .swiper-slide .title-overlay {
  bottom: 0;
  padding: 1.5em;
  position: absolute;
}
.featured-slider-module__cards.slider-mobile .swiper-slide .title-overlay h2 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 0;
  text-align: center;
}
.featured-slider-module__cards.slider-mobile .swiper-slide img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}
.featured-slider-module__cards.slider-mobile .swiper-slide.swiper-slide-active {
  filter: brightness(100%);
  transition: 200ms all ease-out;
}

.gallery-module__content {
  display: grid;
  gap: 0.8em;
}
.gallery-module__content img {
  border-radius: 4px;
  height: 15rem;
  object-fit: cover;
  width: 100%;
}
@media (max-width: 640px) {
  .gallery-module__content.grid-per-row__02, .gallery-module__content.grid-per-row__03, .gallery-module__content.grid-per-row__04 {
    grid-template-columns: 1fr 1fr;
  }
}

.grid-module__wrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  overflow: hidden;
}
.grid-module__cards {
  display: grid;
  gap: 1.6em;
  width: 100%;
}
.grid-module__cards__card {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
}
.grid-module__cards__card img.type-one {
  border-radius: 4px;
  height: 100%;
  max-height: 230px;
  object-fit: cover;
  width: 100%;
}
.grid-module__cards__card img.type-two {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.grid-module__cards__card-violator {
  position: absolute;
  top: 0;
  left: 0;
  background: #fab631;
  z-index: 10;
  padding: 0.7em 2.4em;
}
.grid-module__cards__card-violator strong {
  font-size: 0.8rem;
  color: #fff;
}
.grid-module__cards__card-overlay.type-two {
  display: block !important;
  z-index: 5;
  background: rgba(89, 74, 66, 0.5);
}
.grid-module__cards__card-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 10;
}
.grid-module__cards__card-content h2, .grid-module__cards__card-content h3, .grid-module__cards__card-content h4, .grid-module__cards__card-content h5, .grid-module__cards__card-content h6 {
  margin-top: 0.56em;
  width: 100%;
}
.grid-module__cards__card-content h2:last-child, .grid-module__cards__card-content h3:last-child, .grid-module__cards__card-content h4:last-child, .grid-module__cards__card-content h5:last-child, .grid-module__cards__card-content h6:last-child {
  margin-bottom: 0;
}
.grid-module__cards__card-content span {
  font-size: 0.8rem;
  text-transform: uppercase;
}
.grid-module__cards__card-content span.grid-date {
  color: #a7a7a7;
}
.grid-module__cards__card-content p {
  margin-top: 0.56em;
}
.grid-module__cards__card.type-two {
  border-radius: 8px;
  box-shadow: 0 16px 24px rgba(167, 71, 153, 0.06);
  height: 24rem;
  justify-content: flex-end;
  overflow: hidden;
  padding: 2.4em;
}
.grid-module__cards__card.type-two h2, .grid-module__cards__card.type-two h3, .grid-module__cards__card.type-two h4, .grid-module__cards__card.type-two h5, .grid-module__cards__card.type-two h6 {
  color: #fff;
}
.grid-module__cards__card.type-two span {
  color: #fff;
}
.grid-module__pagination {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.33em;
}
.grid-module__pagination span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0.78rem;
  color: #dbdbdb;
  margin-left: 8px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}
.grid-module__pagination a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  font-size: 0.78rem;
  margin-left: 8px;
  color: #a74799;
  border: 1px solid #a74799;
  text-decoration: none;
  border-radius: 4px;
  transition: all 0.4s ease;
}
.grid-module__pagination a:hover {
  color: #fff;
  background: #fab631;
  border-color: #fab631;
}
.grid-module__pagination a.next, .grid-module__pagination a.prev {
  display: flex;
  justify-content: center;
  align-items: center;
  width: unset;
  height: 32px;
  padding: 0 8px;
}

.image-module__wrapper img {
  border-radius: 4px;
}

.slider-module {
  width: 100%;
  height: 100%;
}
.slider-module__container {
  position: relative;
  overflow: hidden;
}
.slider-module__wrapper {
  display: flex;
  justify-content: flex-end;
  position: relative;
}
.slider-module__wrapper.slider-type-three__gallery-top {
  border-radius: 0.74em;
  overflow: hidden;
}
.slider-module__wrapper.slider-type-three__gallery-top img {
  border-radius: 0.74em;
  height: 22.22rem;
  object-fit: cover;
  width: 100%;
}
.slider-module__wrapper.slider-type-three__gallery-thumbs {
  border-radius: 0.74em;
  overflow: hidden;
  margin-top: 0.59em;
}
.slider-module__wrapper.slider-type-three__gallery-thumbs .swiper-slide {
  opacity: 0.5;
}
.slider-module__wrapper.slider-type-three__gallery-thumbs .swiper-slide.swiper-slide-thumb-active {
  opacity: 1;
}
.slider-module__wrapper.slider-type-three__gallery-thumbs img {
  border-radius: 0.74em;
  height: 8.3rem;
  object-fit: cover;
  width: 100%;
}
.slider-module__cards__card {
  align-items: flex-end;
  background: #ccc;
  border-radius: 8px;
  box-shadow: 0 16px 24px rgba(167, 71, 153, 0.06);
  display: flex;
  height: 15rem;
  overflow: hidden;
  padding: 2.4em;
  position: relative;
  width: 17.5rem;
}
.slider-module__cards__card img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
}
.slider-module__cards__card-overlay {
  display: block !important;
  z-index: 5;
  background: rgba(89, 74, 66, 0.5);
}
.slider-module__cards__card-content {
  position: relative;
  z-index: 10;
}
.slider-module__cards__card-content h3 {
  color: #fff;
  font-size: 2rem;
  line-height: 1.15em;
  margin-bottom: 0;
}
.slider-module__cards__card-content span {
  color: #fff;
  font-size: 0.8rem;
  text-transform: uppercase;
}
.slider-module__arrow.swiper-button-prev {
  left: 0;
}
.slider-module__arrow.swiper-button-prev::after {
  color: #a74799;
  content: "\f053";
  font-family: "FontAwesome";
}
.slider-module__arrow.swiper-button-next {
  right: 0;
}
.slider-module__arrow.swiper-button-next::after {
  color: #a74799;
  content: "\f054";
  font-family: "FontAwesome";
}
.slider-module__arrow.slider-03 {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  top: 53.7%;
  transform: translateY(-50%);
  width: 7%;
}
.slider-module__arrow.slider-03::after {
  color: #3d3d3d;
}

.tab-module [data-tab-content] {
  display: none;
}
.tab-module .active[data-tab-content] {
  display: block;
}
@media (max-width: 980px) {
  .tab-module .active[data-tab-content] {
    display: none;
  }
}
.tab-module__tabs {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
}
.tab-module__heading {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media (max-width: 980px) {
  .tab-module__heading {
    display: none;
  }
}
.tab-module__heading-wrapper {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  width: 100%;
}
.tab-module__heading-wrapper li {
  cursor: pointer;
  flex-grow: 1;
  padding: 0.8em;
  text-align: center;
  transition: 300ms background ease-out;
}
.tab-module__heading-wrapper li:hover {
  background-color: #fcfcfc;
}
.tab-module__heading-wrapper li.active {
  border-bottom: 4px solid #a74799;
  font-weight: bold;
}
.tab-module__content {
  padding-top: 2.8em;
  width: 100%;
}
@media (max-width: 980px) {
  .tab-module__content {
    padding-top: 0;
  }
}
.tab-module__content input[type=checkbox] {
  display: none;
}
.tab-module__content input[type=checkbox]:checked + label + .tab-module__content-container {
  display: block;
}
.tab-module__content input[type=checkbox]:checked + label::after {
  transform: translateY(-50%) rotate(0.5turn);
}
.tab-module__content label {
  background-color: #a74799;
  border-radius: 4px;
  color: #fff;
  display: none;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.6em;
  padding: 0.5em;
  position: relative;
}
@media (max-width: 980px) {
  .tab-module__content label {
    display: block;
  }
}
.tab-module__content label::after {
  content: "\f078";
  font-family: FontAwesome;
  position: absolute;
  right: 0.89em;
  top: 50%;
  transform: translateY(-50%);
  transition: 200ms all ease-out;
}
@media (max-width: 980px) {
  .tab-module__content-container {
    display: none;
    margin-bottom: 1.5em;
  }
}
.tab-module__heading-mobile {
  display: none;
}
@media (max-width: 980px) {
  .tab-module__heading-mobile {
    display: block;
  }
}

.text-module {
  position: relative;
  z-index: 5;
}
.text-module__wrapper p, .text-module__wrapper li {
  line-height: 1.78em;
  margin-bottom: 1.33em;
}
.text-module__wrapper p:last-child, .text-module__wrapper li:last-child {
  margin-bottom: 0;
}

.blog-posts {
  padding-top: 6em;
  padding-bottom: 6em;
}
.blog-posts__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2em;
}
@media (max-width: 640px) {
  .blog-posts__cards {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}
@media (max-width: 425px) {
  .blog-posts__cards {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}
.blog-posts__cards__card {
  border-radius: 8px;
  box-shadow: 0 16px 24px rgba(167, 71, 153, 0.06);
  display: flex;
  flex-flow: column nowrap;
  height: 24rem;
  justify-content: flex-end;
  overflow: hidden;
  padding: 2.4em;
  position: relative;
}
.blog-posts__cards__card-overlay {
  display: block !important;
  z-index: 5;
  background: rgba(89, 74, 66, 0.5);
}
.blog-posts__cards__card img {
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}
.blog-posts__cards__card-content {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  z-index: 10;
}
.blog-posts__cards__card-content h2 {
  color: #fff;
  margin-top: 0.56em;
  width: 100%;
}
.blog-posts__cards__card-content span {
  font-size: 0.8rem;
  color: #fff;
  text-transform: uppercase;
}

.page-banner {
  height: 22.22rem;
  overflow: hidden;
  position: relative;
  width: 100%;
}
.page-banner__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
}
.page-banner img, .page-banner video {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.page-banner__heading {
  display: flex;
  height: 100%;
  margin: auto;
  padding: 0 2.22em;
  position: relative;
  z-index: 2;
}
.page-banner__heading-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  max-width: 900px;
  line-height: 1.67em;
}
.page-banner__heading-container h1 {
  color: #fff;
  line-height: 1.2em;
  margin-bottom: 0;
  text-align: left;
  text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.3);
  width: 100%;
}
@media (max-width: 640px) {
  .page-banner__heading-container h1 {
    font-size: 2.67rem;
  }
}
.page-banner__heading-container p {
  color: #fff;
  text-shadow: 6px 2px 8px rgba(0, 0, 0, 0.3);
}

.menu-search-menu-container ul {
  list-style: none;
}

.is-popup-search-form form {
  display: grid;
  grid-template-columns: 1fr 72px;
  width: 100%;
  max-width: 1360px;
  padding: 0 2.22em !important;
}
.is-popup-search-form form label {
  width: 100% !important;
}
.is-popup-search-form form label input[type=search] {
  background: none;
  border-radius: 8px 0 0 8px;
  border-width: 2px !important;
  color: #fff;
  font-family: "PoppinsLight", sans-serif;
  font-size: 1.78rem !important;
  height: 4rem;
  padding: 0 1em;
}
.is-popup-search-form form button[type=submit] {
  width: 100%;
  height: 4rem;
}
.is-popup-search-form form button[type=submit] span.is-search-icon {
  display: flex !important;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 0 !important;
  border-width: 2px !important;
  border-left-width: 0 !important;
  border-radius: 0 8px 8px 0;
  background: none;
}
.is-popup-search-form form button[type=submit] span.is-search-icon svg {
  width: 1.78rem;
}
.is-popup-search-form form button[type=submit] span.is-search-icon svg path {
  fill: #fff !important;
}

.is-form-style.is-form-style-3 label {
  width: 100% !important;
}

.wpcf7-form {
  position: relative;
}
.wpcf7-form div.subscription {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}
.wpcf7-form div.subscription-heading {
  width: 40%;
}
@media (max-width: 980px) {
  .wpcf7-form div.subscription-heading {
    padding-bottom: 1.88em;
    width: 100%;
  }
}
.wpcf7-form div.subscription-heading__wrapper {
  margin-right: 2em;
}
.wpcf7-form div.subscription-heading__wrapper h2 {
  color: #fff;
  font-size: 1.8rem;
  margin-bottom: 0.3em;
}
.wpcf7-form div.subscription-heading__wrapper p {
  color: #fff;
  line-height: 1.6;
  margin-bottom: 0;
}
.wpcf7-form div.subscription-form {
  width: 60%;
}
@media (max-width: 980px) {
  .wpcf7-form div.subscription-form {
    padding-bottom: 0.94em;
    width: 100%;
  }
}
.wpcf7-form div.subscription-form__wrapper {
  display: flex;
  position: relative;
}
@media (max-width: 640px) {
  .wpcf7-form div.subscription-form__wrapper {
    flex-flow: row wrap;
  }
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-form-control-wrap {
  flex-grow: 1;
  padding-right: 0.8em;
}
@media (max-width: 640px) {
  .wpcf7-form div.subscription-form__wrapper span.wpcf7-form-control-wrap {
    padding-right: 0;
    padding-bottom: 0.94em;
    width: 100%;
  }
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-form-control-wrap input {
  border-radius: 4px;
  border: 0;
  color: #555;
  height: 3.2rem;
  padding: 16px;
  transition: 200ms all ease-out;
  width: 100%;
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-form-control-wrap input:focus {
  outline: none !important;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.32);
}
.wpcf7-form div.subscription-form__wrapper input[type=submit] {
  height: 3.2rem;
  padding: 0 2.78em;
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-spinner {
  position: absolute;
  top: 0;
  right: 0;
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-spinner {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 640px) {
  .wpcf7-form div.subscription-form__wrapper span.wpcf7-spinner {
    top: 75%;
  }
}
.wpcf7-form div.subscription-form__wrapper span.wpcf7-not-valid-tip {
  color: #fff;
  font-size: 0.7rem;
  position: absolute;
  top: -1.25rem;
}
.wpcf7-form div.subscription + div.wpcf7-response-output {
  border: 0;
  bottom: -18px;
  color: #fff;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
}
.wpcf7-form div.contact-us__form div.colgroup {
  display: flex;
  gap: 2em;
}
@media (max-width: 768px) {
  .wpcf7-form div.contact-us__form div.colgroup {
    flex-flow: row wrap;
    gap: 0;
  }
}
.wpcf7-form div.contact-us__form div.colgroup span {
  width: 100%;
}
.wpcf7-form div.contact-us__form input[type=text],
.wpcf7-form div.contact-us__form input[type=tel],
.wpcf7-form div.contact-us__form input[type=email],
.wpcf7-form div.contact-us__form textarea {
  background-color: #fff;
  border-radius: 1.19em;
  border: 1px solid rgba(0, 0, 0, 0.08);
  margin-bottom: 1.48em;
  padding: 1.19em;
  width: 100%;
  width: 100%;
}
.wpcf7-form div.contact-us__form input[type=text]:focus,
.wpcf7-form div.contact-us__form input[type=tel]:focus,
.wpcf7-form div.contact-us__form input[type=email]:focus,
.wpcf7-form div.contact-us__form textarea:focus {
  outline-color: #a74799;
}
.wpcf7-form div.contact-us__form-footer {
  align-items: center;
  display: flex;
  gap: 2em;
  justify-content: space-between;
  position: relative;
}
@media (max-width: 425px) {
  .wpcf7-form div.contact-us__form-footer {
    flex-flow: row wrap;
    gap: 1em;
  }
}
@media (max-width: 425px) {
  .wpcf7-form div.contact-us__form-footer p {
    width: 100%;
  }
}
.wpcf7-form div.contact-us__form-footer span.wpcf7-acceptance span.wpcf7-list-item {
  margin: 0;
  color: #595959;
}
.wpcf7-form div.contact-us__form-footer span.wpcf7-spinner {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.wpcf7-form div.contact-us__form div.wpcf7-response-output {
  border: 0;
  bottom: 4rem;
  color: #69cb72;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
.wpcf7-form div.contact-us__form + div.wpcf7-response-output {
  border: 0;
  bottom: 4rem;
  color: #b5b5b5;
  font-size: 0.7rem;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
@media (max-width: 425px) {
  .wpcf7-form div.contact-us__form + div.wpcf7-response-output {
    bottom: 6.2rem;
    line-height: 1.2;
  }
}

.align-center {
  text-align: center;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.background-overlay {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.button {
  border-radius: 4px;
  border: 1px solid #a74799;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "GothamBold", serif;
  font-size: 0.8rem;
  font-weight: bold;
  padding: 1em 3em;
  text-transform: uppercase;
  transition: 200ms all ease-out;
}
@media (max-width: 425px) {
  .button {
    width: 100%;
    text-align: center;
  }
}

.button-light {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #a74799 !important;
}
.button-light:hover {
  background: transparent !important;
  border-color: #fff !important;
  color: #fff !important;
}

.button-primary {
  background: #fab631;
  border: 1px solid #fab631;
  color: #fff;
}
.button-primary:hover {
  background: transparent !important;
  border-color: #fab631;
  color: #fab631;
}

.column-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.column-link {
  cursor: pointer;
  display: block;
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 15;
}

.content-limit {
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.grid-per-row__01 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-per-row__02 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media (max-width: 640px) {
  .grid-per-row__02 {
    grid-template-columns: 1fr;
  }
}

.grid-per-row__03 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .grid-per-row__03 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .grid-per-row__03 {
    grid-template-columns: 1fr;
  }
}

.grid-per-row__04 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1024px) {
  .grid-per-row__04 {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (max-width: 768px) {
  .grid-per-row__04 {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 640px) {
  .grid-per-row__04 {
    grid-template-columns: 1fr;
  }
}

.h-center {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.hit-area {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 15;
}

@media (max-width: 640px) {
  .mobile-spacer {
    padding-top: 3.29em !important;
    padding-bottom: 3.29em !important;
  }
}

.full-bleed {
  padding: 0 !important;
}

.section-heading {
  font-size: 2rem;
  margin-bottom: 0.7em;
}

.sticky {
  position: sticky !important;
  top: 0;
  z-index: 100;
}

.display-none {
  display: none !important;
}

.v-center {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}