.button-module {

    &__wrapper {

        a {
            font-weight: normal;
            text-decoration: none;
        }

        span {
            align-items: center;
            background: $accentColor;
            border-radius: 4px;
            border: 1px solid $accentColor;
            color: #fff;
            cursor: pointer;
            display: inline-flex;
            font-size: 0.8rem;
            justify-content: center;
            margin-top: 2.22em;
            padding: 1em 2em;
            transition: 200ms all ease-out;

            @include break(mobile) {
                padding: 1em 0;
                text-align: center;
                width: 100%;
            }

            &:hover {
                background: transparent;
                border-color: $accentColor;
                color: $accentColor;
            }
        }
    }
}