.gallery-module {

    &__content {
        display: grid;
        gap: 0.8em;

        @include break(mobile) {
            grid-auto-rows: 11rem;
        }

        @include break(tablet) {
            grid-template-columns: repeat(2, 1fr) !important;
        }
    }

    &__item {

        @include break(mobile) {
            height: unset !important;
        }
        
        img {
            border-radius: 4px;
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
}

.grid {
    display: flex;
    grid-auto-rows: unset;

    &-item {
        padding: 0.4em;

        img {
            border-radius: unset;
            height: unset;
            object-fit: unset;
            width: 100%;
        }

        @include break(tablet) {
            width: 50% !important;
        }
    }
}