.single__main {
    padding-top: 4em;
    padding-bottom: 6em;
}

.single-page {

    &__heading {
        padding-top: 6em;
        padding-bottom: 3em;
    }

    &__breadcrumbs {
        padding-bottom: 3em;
    }

    &__title {

        ul {
            display: flex;
            gap: 2.67em;
            list-style: none;

            @include break(phablet) {
                flex-flow: column nowrap;
                gap: 1.5em;
            }

            li {
                align-items: center;
                display: flex;
                gap: 0.89em; 
            }
        }
    }
}


.single-template {
    padding-bottom: 2em;
}

.single__width-limit {
    width: 100%;
    max-width: 995px;
    margin: 0 auto;
}

.single__header {

    &-breadcrumbs {
        color: #d7d7d7;
        font-size: .9rem;
        
        a {
            font-size: 0.9rem;
            font-weight: normal;
        }
    }

    h1 {
        font-family: $headingText;
        font-size: 2.22rem;
        line-height: 1.3em;
        margin: 0;
        text-align: left;
    }

    span {
        color: #a7a7a7;
        display: inline-block;
        font-size: 0.89rem;
        margin-bottom: 2em;
        margin-top: 1.5em;
    }
}

.single__featured-image {
    display: flex;
    justify-content: center;
    width: 100%;

    img {
        border-radius: 4px;
        height: 27.5rem;
        max-width: 1200px;
        object-fit: cover;
        width: 100%;
    }
}